body {
    
    
    
}

html{
    background-image: url("fort.jpg");
}

#parallax1 {

    background-image: url("ssw.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

p {
    
    color: red;
    padding: 5px 5px;
    margin: 20px 20px;

}

h1 {

    background-color: red;
    color: white;
    overflow: hidden;
    font-style: italic;

}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    
}

li {
    
    float: left;
    
}

li a {
    
    color: black;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    
    background-color: white;
    
}
    

