body {
    
    
    
}

p {



}

h1 {

    background-color: red;
    color: white;
    font-style: italic;

}

ul {
    
    beckground color: blue;
    border: 2px black solid;
    
}

li {
    
    float: left;
    background color: blue;
    color: white;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    
}

li a {
    
    background-color: green;
    
    
}


    background-color: green;
    
    
}

