body {
    
    
    
}

p {
    
    color: blue;
    padding: 5px;
    margin: 20px 20px 20px 20px;

}

h1 {

    background-color: red;
    color: white;
    font-style: italic;

}

ul {
    
    align: left;
    beckground-color: blue;
    border: 2px black solid;
    
}

li {
    
    float: left;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 20px 20px 20px 20px;
    
}

li a {
    
    background-color: green;
    
}

li a:hover {
    
    background-color: white;
    
}
    

